In [10]:
import pandas as pd
import math

In [46]:
data = [[1, 'John', 'New York'],
        [2, 'Jane', 'Chicago'],
        [3, 'Mike', 'Los Angeles'],
        [4, 'Emma', 'Houston']]

y = ['ID', 'Name', 'City']#nomes das colunas

df = pd.DataFrame(data, columns=y)#inserindo baguri

df.loc[len(df)] = [5, 'Jimmy', 'Bahia'] #adiciona um item na linha selecionada + 1(quando utilizando 'len()')

df.loc[0,'City'] = 'Amazonia' #primeiro elemento seleciona linha(da sequencia), segunda coluna(nome da coluna)

display(df)

   ID   Name         City
0   1   John     Amazonia
1   2   Jane      Chicago
2   3   Mike  Los Angeles
3   4   Emma      Houston
4   5  Jimmy        Bahia